# This is a workflow that runs test on the package
name: Run tests

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install python 3
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: install dependencies
        run: |
          python3 -m pip install -U pip setuptools setuptools-scm wheel
          python3 -m pip install .[test]
      - name: Run tests
        run: |
          coverage run --omit=tests/*,*/_*.py -m unittest discover -v -p *_test.py ./tests
          coverage xml
      - name: Upload to codecov
        uses: codecov/codecov-action@v3
